@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');
.bb {
    display: flex;
    margin:1px;
    height:650px;
    width:100%;
    padding:1px;
    background-color:black;
}
.bb img {
    height:100%;
    width:100%;
}
.h{
    /* display:block; */
    padding-left:50px;
    font-size: 25px;
    line-height: 72px;
    letter-spacing: -0.8px;
    font-family: spartan;
    color: #242B37;
    font-weight: 400;
}
.r{
    color:white;
    position: absolute;
    padding-left:125px;
    padding-bottom:700px;
    padding-top: 100px;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.8px;
    font-family: spartan;
    font-weight: 600;
}
.ho{
    color:white;
    position: absolute;
    display:flex;
    font-size: 70px;
    padding:0;
}
.b{
    background-color:white;
    width:400px;
    height:400px;
}
.par{
    position:absolute;
    color: white;font-size: 18px;line-height: 30px;letter-spacing: 0.2px;font-weight: 400;text-wrap: nowrap;
    padding-top: 350px;
    padding-left: 125px;
}
.bbbb{
    position: absolute;
    background-color:white;
    width:600px;
    height:600px;
    margin-top: -370px;
    margin-left: 800px;
    /* border:1px solid black; */
    box-shadow: 5px 5px 100px 50px black;
}
.name{
    width:500px;
    height:50px;
    border:none;
    border-bottom:1px solid grey;
    margin-left:50px;
}
form{
    margin-top: 50px;
}
#pick-date{
    font-family: spartan;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #111111;
    position: relative;
    left: 10vh;
    top: 6vh;
  }
h1{
    padding-left: 50px;
}
.Noguests{
    margin:0;
    padding-left:30px;
    text-align: center;
}
.sb{
    background-color: black;
    border:10x solid grey;
    color:white;
    font-size: 20px;
    font-family: sparten;
}
.sb:hover{
    background-color: white;
    border:10x solid grey;
    color:black;
}